.little-tags-btn {
	display: inline-flex;
	align-items: center;
	padding: 1em 2em;
	width: 12.5em;
	/* height: 7.5rem; */
	border-radius: 11px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
	background-color: black;
	font-size: 2em;
	font-family: GothamMedium;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	color: #ffffff;
}

.little-tags-btn:hover {
	color: #adb5bd;
}

.little-tags-btn:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

.button-icon-container {
	flex: 0.5 1 auto;
	display: flex;
	justify-content: flex-end;
}

.button-text-container {
	flex: 1 1 auto;
}
