.product-card-container {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border-radius: 20px;
}

.product-card-container:hover {
	-moz-box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.5);
	box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
	z-index: 4;
}

.product-card-bg {
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 1;
}

.product-card-bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.product-card-desc-bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;
	z-index: 2;
	opacity: 0.41;
	background-image: linear-gradient(84deg, black 4%, rgba(0, 0, 0, 0.5) 100%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #ffffff;
}

.product-card-desc-text {
	position: absolute;
	display: inline-block;
	color: #ffffff;
	bottom: 0.9375em;
	font-size: 3.2rem;
	left: 1.5625em;
	z-index: 3;
}
