.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal.disable-click::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  content: '';
}
.modal__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease;
}
.modal__inner {
  position: relative;
  top: -100px;
  background-color: #fff;
  max-width: 600px;
  width: 90%;
  opacity: 0;
  transition-property: opacity, top;
  transition-timing-function: ease;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.modal__head {
  padding: 20px;
  text-align: center;
  color: #000;
  font-size: 36px;
  font-family: Gotham;
}
.modal__body {
  padding: 20px 20px;
  text-align: center;
  position: relative;
  color: #000;
  font-size: 30px;
  font-family: Gotham;
}
.modal__head .btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.modal__foot {
  padding: 20px;
  text-align: center;
}

@media (max-width: 991px) {
  .modal {
    display: block;
    overflow-y: auto;
  }
  .modal__inner {
    margin: 50px auto;
  }
}
