.quantity-control {
	display: inline-flex;
	align-items: center;
	position: relative;
	font-size: 2rem;
}

.quantity-control .btn {
	flex: 1 1 auto;
	padding: 0.8rem 1rem;
	font-size: inherit;
	border: solid 2px black;
}

.quantity-control .btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 0.5);
	background: black;
	color: white;
}

.quantity-control .btn:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.quantity-control .btn:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.quantity-text {
	flex: 1 1 auto;
	line-height: 1.5;
	padding: 0.8rem 3.5rem;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}
