.delivery-card-container {
	border-radius: 20px;
	width: 55%;
	margin: auto;
	padding: 3rem;
	background-color: #f4f4f4;
	width: 50rem;
	height: 20rem;
}

.delivery-card-container .name {
	font-family: Arial;
	font-weight: bold;
	font-size: 3rem;
}

.delivery-card-container .address,
.delivery-card-container .phone {
	font-size: 2.2rem;
	padding-top: 1.5rem;
}
