.footer-container {
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

	background-color: #32353c;
	text-align: left;
}

.footer-container .section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 20px;
	width: 100%;
	justify-content: space-around;
}
.footer-header {
	font-size: 2rem;
	color: #f9f9f9;
	padding-left: 20px;
}
.footer-items {
	font-size: 1.5rem;
	color: #6f6f6f;
	padding: 2px;
}
.footer-header-info {
	margin-bottom: 15px;
}
.card-details {
	margin-top: 20px;
}
.imagesContainer {
	margin-top: 20px;
	justify-content: flex-start;
	display: flex;
}
.footer-category {
	cursor: pointer;
}
.sub-btn {
	width: 100%;
	background-color: #32353c;
	color: white;
	min-height: 30px;
}
.sub-input {
	min-height: 30px;
	font-size: 1.5rem;
	min-width: 60%;
}
.subscribe {
	display: flex;
	justify-content: flex-start;
}

.footer-details {
	display: flex;
	width: 100%;
	font-size: 1.75rem;
	color: #f9f9f9;
	justify-content: space-between;
}
.rights {
	display: flex;
	justify-content: flex-end;
}
