.addInput {
	display: flex;
	justify-content: space-around;
	text-align: left;
	font-size: 2.5rem;
	font-family: Gotham;
	padding: 10px;
	font-weight: bold;
}
.addInputBox {
	align-items: left;
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-family: Gotham;
	border-radius: 10px;
}
.address-container .header {
	text-align: center;
	font-size: 36px;
	padding-top: 100px;
}
.AddAddressbutton {
	width: 50%;
	font-size: 20px;
	height: 50px;
	background-color: black;
	color: white;
}
.AddAddressbtn {
	padding-top: 25px;
	padding-bottom: 50px;
}
.addAddressCol {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.addAddressRow {
	display: flex;
	flex-direction: row;

	justify-content: space-around;
}
.field-required {
	font-size: 15px;
	color: red;
	text-align: left;
}
