.radio {
	font-size: 3rem;
	color: black;
	display: grid;
	grid-template-columns: min-content auto;
	grid-gap: 0.5em;
	cursor: pointer;
}

.radio:focus-within .radio-label {
	transform: scale(1.05);
	opacity: 1;
}

.radio-input {
	display: flex;
}

.radio input {
	opacity: 0;
	width: 0;
	height: 0;
}

.radio-control {
	display: grid;
	place-items: center;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 0.1em solid currentColor;
	/* transform: translateY(-0.05em); checks alignment*/
}

input + .radio-control::before {
	content: '';
	width: 0.25em;
	height: 0.25em;
	box-shadow: inset 0.25em 0.25em #040404;
	border-radius: 50%;
	transition: 180ms transform ease-in-out;
	transform: scale(0);
}

/* input:not(:checked) + .radio-control::before {
	opacity: 0;
	-webkit-transform: scale(0);
	
} */

input:checked + .radio-control::before {
	opacity: 1;
	--webkit-transform: scale(1);
	transform: scale(1);
}

.radio-label {
	line-height: 1;
	transition: 180ms all ease-in-out;
	opacity: 0.8;
}
