.login-modal {
	max-width: none !important;
	width: 30%;
}

/* .login-modal.modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}

.modal.show .login-modal.modal-dialog {
	transform: none;
} */

.login-modal .modal-content {
	border-radius: 20px;
}

.login-modal .modal-content .modal-body {
	border-radius: 20px;
	border: solid 1px black;
}

.login-modal .heading {
	font-size: 5rem;
	font-weight: 500;
	padding-top: 5rem;
}

.login-modal .sub-heading {
	font-size: 3rem;
	font-weight: 300;
	padding: 3rem 0;
}

.login-modal .login-choices {
	padding: 3rem 2.5rem 5rem;
}

.login-modal .btn {
	width: 100%;
	font-size: 3rem;
	padding: 1.5rem 8rem;
}

.login-modal .login-choices .btn:last-child {
	margin-top: 2rem;
}

.close-modal {
	position: absolute;
	right: 1.5rem;
}

.close-modal button {
	border: none;
	font-size: 4rem;
	background: none;
}

.close-modal button:focus {
	outline: none;
}
